{% extends "base.html" %}
{% block title %}Realismo{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
  <div class="container">
    <h1 align="center" class="text-white">Realismo</h1>
    <div class="row justify-content-around">

      <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo/album.jpg" class="card-img-top" width="400" height="300">
            <div class="card-body">
              <h5 class="card-title">Libro de artes</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href="../../static/img/realismo/album.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo/calle_nevada.jpg" class="card-img-top" width="400" height="300">
            <div class="card-body">
              <h5 class="card-title">Raimundo Fernandez nevado</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href="../../static/img/realismo/calle_nevada.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo/chica_ventana.jpg" class="card-img-top" width="400" height="300">
            <div class="card-body">
              <h5 class="card-title">Niña mirando por la ventana</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo/chica_ventana.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo/pescador.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Surcos en la arena</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo/pescador.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo/ventana_flor.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Flor en la ventana</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo/ventana_flor.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo/perro_escalera.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Perro durmiendo</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo/perro_escalera.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo/gato_pueblo.jpg" class="card-img-top" width="400" height="300">
            <div class="card-body">
              <h5 class="card-title">Gatito en la ventana</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo/gato_pueblo.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo/matrona.jpg" class="card-img-top" width="400" height="300">
            <div class="card-body">
              <h5 class="card-title">Habitación de la costura</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo/matrona.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>


      </div>
    </div>





  </div>
{% endblock %}