{% extends "base.html" %}
{% block title %}Realismo onírico{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
  <div class="container">
    <h1 align="center" class="text-white">Realismo onírico</h1>
    <div class="row justify-content-around">

      <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo_onirico/innombrable.jpg" class="card-img-top" width="400" height="300">
            <div class="card-body">
              <h5 class="card-title">Fantasía de carnaval</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo_onirico/innombrable.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo_onirico/dos_sirenas.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Danza de las sirenas</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo_onirico/dos_sirenas.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo_onirico/diosa_agua.jpg" class="card-img-top" width="400" height="300">
            <div class="card-body">
              <h5 class="card-title">Jugando con caracolas</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href="../../static/img/realismo_onirico/diosa_agua.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo_onirico/meninas.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Elegía a Salvador</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo_onirico/meninas.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo_onirico/cascada_toallas.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Tirando flores</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href="../../static/img/realismo_onirico/cascada_toallas.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo_onirico/mujer_mascara.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Escaners de una venus</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo_onirico/mujer_mascara.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo_onirico/observando.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Filosofía del espacio 1º</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo_onirico/observando.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo_onirico/venus_pared.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Escenografía onírica</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo_onirico/venus_pared.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo_onirico/rosa_rezada.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Elegía</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo_onirico/rosa_rezada.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo_onirico/sirena.jpg" class="card-img-top" width="400" height="300">
            <div class="card-body">
              <h5 class="card-title">Jugando en inmersión</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo_onirico/sirena.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo_onirico/valneario.jpg" class="card-img-top" width="400" height="300">
            <div class="card-body">
              <h5 class="card-title">Meditación transcendental</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo_onirico/valneario.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo_onirico/puerto_mascaras.jpg" class="card-img-top" width="400" height="300">
            <div class="card-body">
              <h5 class="card-title">Recuerdos venecianos</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo_onirico/puerto_mascaras.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

      </div>
    </div>





  </div>
{% endblock %}