{% extends "base.html" %}
{% block title %}Retratos{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
  <div class="container">
    <h1 align="center" class="text-white">Retratos</h1>
    <div class="row justify-content-around">

      <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/retratos/alberto.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Auto retrato (Alberto Duvall)</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href="../../static/img/retratos/alberto.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/retratos/bebe_rosa.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title"><!--Aquí va titulo--></h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href="../../static/img/retratos/bebe_rosa.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/retratos/chica_blanca.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title"><!--Aquí va titulo--></h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/retratos/chica_blanca.jpg">GVer cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/retratos/chica_fija.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title"><!--Aquí va titulo--></h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/retratos/chica_fija.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/retratos/chica_gato.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title"><!--Aquí va titulo--></h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/retratos/chica_gato.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/retratos/chica_lazo.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title"><!--Aquí va titulo--></h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/retratos/chica_lazo.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/retratos/chica_rosa.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title"><!--Aquí va titulo--></h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/retratos/chica_rosa.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/retratos/chico.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title"><!--Aquí va titulo--></h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/retratos/Chico.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/retratos/chico_azul.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title"><!--Aquí va titulo--></h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/retratos/chico_azul.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/retratos/hombre_sentado.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Retrato hiperrealista</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/retratos/hombre_sentado.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/retratos/mujer_carbon.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title"><!--Aquí va titulo--></h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/retratos/mujer_carbon.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/retratos/mujer_mar.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title"><!--Aquí va titulo--></h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/retratos/mujer_mar.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/retratos/ojos_marrones.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title"><!--Aquí va titulo--></h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/retratos/ojos_marrones.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/retratos/señora.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title"><!--Aquí va titulo--></h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/retratos/señora.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

 

      </div>
    </div>


  </div>
{% endblock %}