{% extends "base.html" %}
{% block title %}Realismo{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
  <div class="container">
    <h1 align="center" class="text-white">Retrospectivo figurativo</h1>

    <div class="row justify-content-around">

      <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo/campo.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Tornado</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo/campo.jpg">GVer cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo/lampara_aceite.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Lampara de aceite</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo/lampara_aceite.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo/lectora.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Señora leyendo</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo/lectora.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo/mesa_florero.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">En el salón de micasa</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo/mesa_florero.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo/mortero.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Caimada</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo/mortero.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo/plato_rosa.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Bodegón con flores</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo/plato_rosa.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo/tetera.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Bodegón de la cafetera</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo/tetera.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo/valle.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Paisaje de la sierra</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo/valle.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/realismo/ventana_parra.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Maceta en la ventana</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/realismo/ventana_parra.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>


      </div>
    </div>





  </div>
{% endblock %}