{% extends "base.html" %}
{% block title %}Suprarealismo{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
  <div class="container">
    <h1 align="center" class="text-white">Suprarealismo</h1>
    <div class="row justify-content-around">

      <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/suprarealismo/balanza.jpg" class="card-img-top" width="400" height="300">
            <div class="card-body">
              <h5 class="card-title">La imprimación</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href="../../static/img/suprarealismo/balanza.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/suprarealismo/gato.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">El gato que mira</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/suprarealismo/gato.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/suprarealismo/estacion.jpg" class="card-img-top" width="400" height="300">
            <div class="card-body">
              <h5 class="card-title">La espera</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href="../../static/img/suprarealismo/estacion.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/suprarealismo/papaya.jpg" class="card-img-top" width="400" height="300">
            <div class="card-body">
              <h5 class="card-title">Calabazas</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/suprarealismo/papaya.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/suprarealismo/maquina_coser.jpg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">La Maquina de coser</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/suprarealismo/maquina_coser.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img src="../../static/img/suprarealismo/jaula.jpg" class="card-img-top" width="400" height="300">
            <div class="card-body">
              <h5 class="card-title">La jaula vacía</h5>
              <p class="card-text"></p>
              <a target="_blank" class="btn btn-primary" href=".../../static/img/suprarealismo/jaula.jpg">Ver cuadro</a>
            </div>
          </div>
        </div>

      </div>
    </div>





  </div>
{% endblock %}