{% extends "base.html" %}
{% block title %}Carrera{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
  <div>

    <div class="container">
      <p>test auto subida</p>
      <h1 class="text-white"><u>Carrera</u></h1>
      <p class="text-white">Alberto Duvall Nace en Valencia, es hijo adoptivo de Madrid, capital en la que reside permanentemente desde temprana edad. Cursó estudios de música en el Real Conservatorio de Madrid. Estudió danza española y flamenco, actuando como profesional en el primer Ballet Nacional. Junto a su padre, decorador, adquirió los primeros conocimientos de la pintura que fueron consolidán-dose en clases libres de dibujo y pintura en diversos países de Europa hasta su ingreso en la facultad de Bellas Artes de Madrid.</p>

      <h3 class="text-white"><u>Curriculum</u></h3>

      <li class="text-white">1981 Profesor de dibujo por el Ministerio de Educación y Ciencia.</li>
      <li class="text-white">1982 Obtiene el título de licenciado de grado por la Facultad de Bellas Artes de Madrid (Universidad Complutense).</li>
      <li class="text-white">1984 Exposición colecvtiva de doctorandos en el Salón de Exposiciones de la Facultad de Bellas Artes de Madrid.</li>
      <li class="text-white">1985 Seleccionado en el 51 Salón de Otoño, celebrado en el centro Cultural Villa de Madrid.</li>
      <li class="text-white">1986 Seleccionado en el XX premio Internacional de Arte Contemporáneo, celebrado en la Sala de Exposiciones «Rocabella» de Mónaco, Patrocinado por S.A.S. El Príncipe Rainiero III de Mónaco.</li>
      <li class="text-white">1988 Seleccionado en la VI Convocatoria del Premio Penágos, celebrado en la sala de Exposiciones del Centro Cultural Mapfre.</li>
      <li class="text-white">1989 Seleccionado en la VII Convocatoria del Premio Penágos.</li>
      <li class="text-white">1990 Seleccionado en la VIII Convocatoria del Premio Penágos.</li>
      <li class="text-white">1991 Exposición individual en Galería Infantas de Madrid. Colectiva en la Feria Internacional de Arte Contemporáneo de Chicago, denomina-do ART CHICAGO 91. Colectiva en Sala de Exposiciones el Refugio, en Guadix de Granada. Colectiva en Galería Vera-Stilo, en Vera de Almería.</li>
      <li class="text-white">1992 Colectiva en Galería Conde Duque de Madrid.</li>
      <li class="text-white">1994 Colectiva en Galería Kreisler de Madrid. Colectiva en el Museo de Arte Contemporáneo de Ayllón en Segovia. Colectiva en Sala Goya Art Gallery de Nueva York. Seleccionado en el XVI Salón de Otoño de Pintura en Caja de Extremadura de Plasencia.</li>
      <li class="text-white">1995 Individual en Sala de Exposiciones Casa Dopeso de As Pontes (Coruña). Colectiva en la Feria de Arte Gráfico en Frankfurt</li>
      <li class="text-white">1996 Individual en Ateneo Ferrolan de Ferro’. Individual en Galería San Vicente de Valencia. Seleccionado en la Real Academia de Bellas Artes de Nuestra Señora del Rosario de Coruña, 1er Salón de Otoño.</li>
      <li class="text-white">1998 Colectiva en Parque Ferial Juan Carlos I. Feria de la Almoneda (Madrid).</li>
      <li class="text-white">1999 Exposición individual Galería de Arte Infantas (Madrid).</li>
      <li class="text-white">2000 Exposición individual Alberto Duvall en Hsin Chu (Taiwan). Obra en la Real Academia de San Fernando en Madrid y en colecciones privadas de España y el extranjero.</li>


    </div>

  </div>
{% endblock %}