{% extends "base.html" %}
{% block title %}Críticas{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
  <div>

    <div class="container">
      <h1 class="text-white"><u>Críticas resumidas</u></h1>

        <div class="row" style="margin-top:20px">
          <div class="col-sm-6">
            <div class="card" style="background-color: lightgray; margin: 20px;">
              <div class="card-body">
                <h4 class="card-title">Elena Flórez – asoc. española críticos de Arte</h4>
                <p class="card-text">Tonos sobrios señeros, de bien tramadas texturas que ponen de manifiesto la cualidad de los volúmenes con todo su valor corpóreo dotándolos de natural vitalidad.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card" style="background-color: lightgray; margin: 20px;">
              <div class="card-body">
                <h4 class="card-title">José Pérez Guerra – el punto de las Artes</h4>
                <p class="card-text">Duvall realiza una pintura con la solidez de un dibujo preciso y con la distribución estratégica de quien sabe dominar los espacios.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 20px;">
          <div class="col-sm-6">
            <div class="card" style="background-color: lightgray; margin: 20px;">
              <div class="card-body">
                <h4 class="card-title">Antonio Morales – dir. revista correo del arte</h4>
                <p class="card-text">Su obra es la demostración de la realidad palpable, con toda su intensidad de lo sensible, con la satisfacción de destacar el lado sensual de una estética que pugna por lograr su pertinente transformación poética.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card" style="background-color: lightgray; margin: 20px;">
              <div class="card-body">
                <h4 class="card-title">Juani Prieto Luna – la voz de galicia</h4>
                <p class="card-text">Alberto Duvall se presenta como una persona y un artista de una gran sinceridad tanto a nivel personal como artístico o mejor dicho, un artista completo que no distancia lo personal del arte.</p>
              </div>
            </div>
          </div>
        </div>


      <div style="display:flex; justify-content:center; margin-top:30px">
        <a href="/criticas_completas"><button>Ver todas las críticas</button></a>
      </div>

    </div>
  </div>
{% endblock %}