{% extends "base.html" %}
{% block title %}Firma{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
  

  <div>
    <a><img src="/static/img/firma.jpg" class="card-img-top" ></a>
  </div>

<div style="display: flex; justify-content: center;">
    <div class="card text-center bg-dark text-white" style="max-width: 30%;">
    <div class="card-body">
      <h4>Críticas</h4>
    </div>
    <div class="card-body">
      <h3 class="card-title">Elena Flórez: Asociación española Críticos del Arte</h3>
      <p class="card-text">Un dibujo espléndido, mantiene la armonía en todo lo que aparece en la composición...</p>
      <a href="#" class="btn btn-primary">Ver críticas</a>
    </div>
    <div class="card-footer text-muted">
      <!--Aquí pones algo en pequeño-->
    </div>
  </div>
</div>
{% endblock %}